# Visual Studio files
.vs/
*.sln
*.vcxproj*
*.user

# Compiled binaries
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp
*.obj

# Build directories
Debug/
Release/
CMakeCache.txt
CMakeFiles/
build/

# Logs and temporary files
*.log
*.tlog
*.lastbuildstate