# Ignore Visual Studio files
.vs/
*.sln
*.vcxproj*
*.user

# Ignore compiled binaries
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp
*.obj

# Ignore build directories
Debug/
Release/
CMakeCache.txt
CMakeFiles/
build/

# Ignore logs and temporary files
*.log
*.tlog
*.lastbuildstate